---
import { Content } from '../../CHANGELOG.md';
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Changelog - Top Albums Patchwork Generator"
    description="Changelog for Top Albums Patchwork Generator"
>
    <main class="container">
        <article class="changelog-content">
            <Content />
        </article>
    </main>
</Layout>
